#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.App {
  color: #fff;
  background-color: #13254d;
}

text.recharts-cartesian-axis-tick-value,
span.recharts-legend-item-text {
  user-select: none;
}